/* anton-regular - latin */
@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/anton-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/anton-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: "Anton", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
/* HEADER */
.header {
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 113px;
}
.header-container {
}
.links {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 69px;
}
.logo-img {
  display: flex;
}
.site-nav {
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.contact {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero {
  padding-top: 216px;
  padding-bottom: 322px;
}
.hero-top-title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 151px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
}
.hero-button {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 322px;
  border: 1px solid #ffffff;
  padding: 18px 23px;
}
.main {
}
.about {
}
.about-container {
  margin-bottom: 114px;
}
.container {
}
.about-title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  margin-bottom: 58px;
}
.about-hero {
  display: flex;
  gap: 36px;
  margin-bottom: 84px;
}
.about-descr {
  width: 50vw;
}
.about-descr-title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.about-descr-descr {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}
.about-img {
  display: flex;
  justify-content: space-between;
}
.about-descr-img {
  display: flex;
}
.footer {
}
.footer-container {
  display: flex;
  gap: 55px;
  margin-bottom: 80px;
}
.footer-descr {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.footer-descr:last-child() {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
